.cartdiv {
    background-color: grey;
    position: fixed;
    display: block;
    color: black;
    top: 0;
    right: 0;
    width: 50vw;
    height: 80vh;
}

.span {
    font-size: 15px;
    color: #000;
}