<footer class="footer">
      <div class="footer__icon">
        <a href="#"><img class="footer__icon--image" src="../images/Logo_footer.svg" alt="LOGO" /></a>
      </div>
      <div class="footer__box">
        <div class="footer__heading">
          <p class="footer-heading-m">Rustica</p>
        </div>
        <div class="footer__subhead">
          <p class="subhead__m">Café & Rösterei</p>
        </div>
      </div>

      <div class="footer__wo">
        <div class="footer__wo--besuchen">
          <p class="article-white">Komm uns besuchen!</p>
          <p class="article-white">Fraunhoferstr. 13, Kiel</p>
        </div>
        <div class="footer__wo--oeffnung">
          <p class="article-white">Mo – Fr 8–18 Uhr</p>
          <p class="article-white">Sa 11–18 Uhr</p>
        </div>

        <div class="footer__wo--impressum">
          <a class="link-footer" href="../sub-page/imprint.html">Impressum</a>
          <a class="link-footer" href="#">Datenschutz</a>
        </div>
        <div class="footer__wo--links">
          <a class="link-footer" href="../sub-page/cafe.html">Café</a>
          <a class="link-footer" href="#">Shop</a>
          <a class="link-footer" href="../sub-page/herkunft.html">Herkunft</a>
        </div>
      </div>
    </footer>