<header class="header">      
    <div class="header__navbar">
        <a href="../index.html"><img class="img_logo" src="../images/Logo_black.svg" alt="LOGO" /></a>
         <button class="open-nav">
            <div class="line-b line1"></div>
            <div class="line-b line2"></div>
            <div class="line-b line3-b"></div>
        </button>
    </div>
    <div class="nav-overlay hidden">
          <div class="navlinks">
              <a class="nav-link" href="../index.html">Start</a>
              <a class="nav-link" href="../sub-page/cafe.html">Das Café</a>
              <a class="nav-link" href="../sub-page/herkunft.html">Herkunft</a>
              <a class="nav-link" href="index.html">Shop</a>
          </div>
      </div>
    <div class="header__navbar_desktop">
        <div class="header__navbar_desktop--logo">
        <a href="../index.html"><img class="img_logo" src="../images/Logo_header_black.svg" alt="LOGO" /></a>
        </div>
        <div class="header__navbar_desktop--menu">
        <a class="link-header_black" href="../sub-page/cafe.html">das Café</a>
        <a class="link-header_black" href="../sub-page/herkunft.html">Herkunft</a>
        <a class="link-header_black" href="../shop/index.html">Shop</a>
            <div class="cart">
            <img class="cartBtn" src="../images/shopbag_black.svg" alt="warenkorb">
            <div class="amount">
                <p>0</p>    
            </div>
            </div>
        </div>
    </div>     
</header>