<section class="location">
        <div class="location__heading">
          <h2 class="h2__m">Komm vorbei</h2>
        </div>
        <div class="location__map">
          <iframe class="location__map--iframe" src="https://www.openstreetmap.org/export/embed.html?bbox=10.118477940559389%2C54.34043514867011%2C10.125558972358705%2C54.3431683038686&amp;layer=mapnik&amp;marker=54.34180174898442%2C10.122018456459045"></iframe>
          <br/>
          <p class="link-map"><a class="link-map" href="https://www.openstreetmap.org/?mlat=54.34180&amp;mlon=10.12202#map=18/54.34180/10.12202" target="_blank">Größere Karte anzeigen</a>
          </p>
        </div>
      </section>