<section class="angebot">
        
       <h2 class="h2__m">Entdecke unsere Kaffeesorten</h2>
        
        <div class="flex-container-product">
          <article class="product">
            <div class="product__image-container">
              <img class="product__image" src="../images/FEND_Coffee_Costa-Rica-2.png" alt="Kaffee aus Costa Rica">
            </div>
            <p class="bodytext__m">Costa Rica</p>
            <p class="bodytext__m--grey">6,90€ - 26,90€</p>
            <img src="../images/icon_kaffee_bohnen.svg" alt="Kaffeebohnen" class="product__icons">
            <img src="../images/icon_frenchpress.svg" alt="Frenchpress" class="product__icons">
            <img src="../images/icon_kaffee_schaufel.svg" alt="Kaffeeschaufel" class="product__icons">
          </article>

          <article class="product">
            <div class="product__image-container">
              <img class="product__image" src="../images/FEND_Coffee_Costa-Rica-2.png" alt="Kaffee aus Costa Rica">
            </div>
            <p class="bodytext__m">Costa Rica</p>
            <p class="bodytext__m--grey">6,90€ - 26,90€</p>
            <img src="../images/icon_kaffee_bohnen.svg" alt="Kaffeebohnen" class="product__icons">
            <img src="../images/icon_frenchpress.svg" alt="Frenchpress" class="product__icons">
            <img src="../images/icon_kaffee_schaufel.svg" alt="Kaffeeschaufel" class="product__icons">
          </article>

          <article class="product">
            <div class="product__image-container">
              <img class="product__image" src="../images/FEND_Coffee_Costa-Rica-2.png" alt="Kaffee aus Costa Rica">
            </div>
            <p class="bodytext__m">Costa Rica</p>
            <p class="bodytext__m--grey">6,90€ - 26,90€</p>
            <img src="../images/icon_kaffee_bohnen.svg" alt="Kaffeebohnen" class="product__icons">
            <img src="../images/icon_frenchpress.svg" alt="Frenchpress" class="product__icons">
            <img src="../images/icon_kaffee_schaufel.svg" alt="Kaffeeschaufel" class="product__icons">
          </article>

          <article class="product">
            <div class="product__image-container">
              <img class="product__image" src="../images/FEND_Coffee_Costa-Rica-2.png" alt="Kaffee aus Costa Rica">
            </div>
            <p class="bodytext__m">Costa Rica</p>
            <p class="bodytext__m--grey">6,90€ - 26,90€</p>
            <img src="../images/icon_kaffee_bohnen.svg" alt="Kaffeebohnen" class="product__icons">
            <img src="../images/icon_frenchpress.svg" alt="Frenchpress" class="product__icons">
            <img src="../images/icon_kaffee_schaufel.svg" alt="Kaffeeschaufel" class="product__icons">
          </article>

          <article class="product">
            <div class="product__image-container">
              <img class="product__image" src="../images/FEND_Coffee_Costa-Rica-2.png" alt="Kaffee aus Costa Rica">
            </div>
            <p class="bodytext__m">Costa Rica</p>
            <p class="bodytext__m--grey">6,90€ - 26,90€</p>
            <img src="../images/icon_kaffee_bohnen.svg" alt="Kaffeebohnen" class="product__icons">
            <img src="../images/icon_frenchpress.svg" alt="Frenchpress" class="product__icons">
            <img src="../images/icon_kaffee_schaufel.svg" alt="Kaffeeschaufel" class="product__icons">
          </article>

          <article class="product">
            <div class="product__image-container">
              <img class="product__image" src="../images/FEND_Coffee_Costa-Rica-2.png" alt="Kaffee aus Costa Rica">
            </div>
            <p class="bodytext__m">Costa Rica</p>
            <p class="bodytext__m--grey">6,90€ - 26,90€</p>
            <img src="../images/icon_kaffee_bohnen.svg" alt="Kaffeebohnen" class="product__icons">
            <img src="../images/icon_frenchpress.svg" alt="Frenchpress" class="product__icons">
            <img src="../images/icon_kaffee_schaufel.svg" alt="Kaffeeschaufel" class="product__icons">
          </article>

          <article class="product">
            <div class="product__image-container">
              <img class="product__image" src="../images/FEND_Coffee_Costa-Rica-2.png" alt="Kaffee aus Costa Rica">
            </div>
            <p class="bodytext__m">Costa Rica</p>
            <p class="bodytext__m--grey">6,90€ - 26,90€</p>
            <img src="../images/icon_kaffee_bohnen.svg" alt="Kaffeebohnen" class="product__icons">
            <img src="../images/icon_frenchpress.svg" alt="Frenchpress" class="product__icons">
            <img src="../images/icon_kaffee_schaufel.svg" alt="Kaffeeschaufel" class="product__icons">
          </article>

          <article class="product">
            <div class="product__image-container">
              <img class="product__image" src="../images/FEND_Coffee_Costa-Rica-2.png" alt="Kaffee aus Costa Rica">
            </div>
            <p class="bodytext__m">Costa Rica</p>
            <p class="bodytext__m--grey">6,90€ - 26,90€</p>
            <img src="../images/icon_kaffee_bohnen.svg" alt="Kaffeebohnen" class="product__icons">
            <img src="../images/icon_frenchpress.svg" alt="Frenchpress" class="product__icons">
            <img src="../images/icon_kaffee_schaufel.svg" alt="Kaffeeschaufel" class="product__icons">
          </article>
        </div>            
      </section>