:root {
    --mobile-img-width: calc( (90vw - 72px) / 2);
    --desktop-img-width: calc( (100vw - 100px) / 6);
}

.roesterei {
    margin-left: 24px;
    margin-right: 24px;

    @media (min-width: 992px) {
        display: flex;
        justify-content: center;
        margin-left: 102px;
        margin-right: 102px;
        margin-top: 120px;
    }

    &__flex_content {

        @media (min-width: 992px){
        width: 50%;
        max-width: 500px;
        margin-right: 100px;
        }
    }


    &__heading {
        
        margin-top: 60px;
        

        &__cafe {
            margin-top: 60px;
            
        }       
    
    }

    &__article {
       margin-top: 20px;
       
    
       
       

       &__cafe {
        margin-top: 20px;
        
       }

    }

    &__wo {
        margin-top: 20px;
        
        display: flex;

        
        

        &--besuchen {
            width: 156px;
            height: 32px;
            
    
        }
    
        &--oeffnung {
            width: 156px;
            height: 32px;
            
            
    
        }
    
    }

    &__img {
        margin-top: 40px;
        //height: 182px;
        //width: 241px;

        @media (min-width: 992px) {
            margin-top: 70px;
            width: 50%
        }  
       
       

        &--img-r-cafe {
            height: auto;
            width: 75%;
            max-width: 400px;
            margin-left: auto;
            display: block;

            @media (min-width: 992px) {
                width: 100%;
            } 
        }    

    }

    &__img-herkunft-l {
        

        &--img-l-herkunft {
        height: auto;
        width: 75%;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-right: auto;
        display: block;   
            
           }
    }

}

.gebaeck {
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
        max-width: 410px;
    }

    

    &__roestereicafe {
        @media (min-width: 992px) {
            //order: 1;
        }
        
    }


    

    &__biofair {
        @media (min-width: 992px){
            order: 2;
            
        }
        

    }

    &__flex_content {

        @media (min-width: 992px){
        width: 50%;
        max-width: 500px;
        margin-right: 100px;
        }
    }


    &__heading {
        
        margin-top: 60px;
        

        &__cafe {
            margin-top: 60px;

            .h2__m{
                width: 15ch;
            }
            
        }

    }

    &__article {
       margin-top: 20px;
       
    
       
       

       &__cafe {
        margin-top: 20px;
        
       }

    }

    &__wo {
        margin-top: 20px;
        
        display: flex;

        
        

        &--besuchen {
            width: 156px;
            height: 32px;
            
    
        }
    
        &--oeffnung {
            width: 156px;
            height: 32px;
            
            
    
        }
    
    }

    
}

.kaffeegallerie {
    height: calc( 3 * 24px + 2 * var(--mobile-img-width) * 0.75 + 2 * var(--mobile-img-width) * 1.33 );
    margin-top: 48px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //align-content: space-around;
    gap: 20px;

    @media (min-width: 768px) {
        height: calc( 20px + var(--desktop-img-width) * 0.9 + var(--desktop-img-width) * 1.7 );
        align-content: center;
    }
    

    &__box {
           
    }

    &__img {
        width: var(--mobile-img-width);
        height: auto;
        @media (min-width: 768px) {
            width: var(--desktop-img-width);
        }
        
        &--img1 { 
            height: calc( var(--mobile-img-width) * 0.75);
            
            @media (min-width: 768px) {
                height: calc( var(--desktop-img-width) * 0.75);
                //width: 24%;
                //height: fit-content;
                order: 1;
            }

        }
        
        &--img2 {
            height: calc( var(--mobile-img-width) * 0.75);

            @media (min-width: 768px) {
                height: calc( var(--desktop-img-width) * 0.75);
                //width: 24%;
                //height: fit-content;
                order: 3;
            }     

        } 

        &--img3 {
            height: calc( var(--mobile-img-width) * 1.33);
            @media (min-width: 768px) {
                height: calc( var(--desktop-img-width) * 1.33);
                //width: 24%;
                //height: fit-content;
                order: 7;
            }        

        } 

        &--img4 {
            height: calc( var(--mobile-img-width) * 1.33);
            @media (min-width: 768px) {
                height: calc( var(--desktop-img-width) * 1.33);
                //width: 24%;
                //height: fit-content;
                order: 5;
            }        

        } 

        &--img5 {
            height: calc( var(--mobile-img-width) * 1.33);
            @media (min-width: 768px) {
                height: calc( var(--desktop-img-width) * 1.33);
                //width: 24%;
                //height: fit-content;
                order: 2;
            }        

        } 

        &--img6 {
            height: calc( var(--mobile-img-width) * 0.75);
            @media (min-width: 768px) {
                height: calc( var(--desktop-img-width) * 0.75);
                //width: 24%;
                //height: fit-content;
                order: 8;
            }

        } 

        &--img7 {
            height: calc( var(--mobile-img-width) * 1.33);
            @media (min-width: 768px) {
                height: calc( var(--desktop-img-width) * 1.33);
                //width: 24%;
                //height: fit-content;
                order: 4;
            }  

        } 

        &--img8 {
            height: calc( var(--mobile-img-width) * 0.75);     
            @media (min-width: 768px) {
                height: calc( var(--desktop-img-width) * 0.75);
                //width: 24%;
                //height: fit-content;
                order: 6;
            }

        } 
        
    }

}