.main {
    margin-left: 24px;
    margin-right: 24px;

    @media (min-width: 992px) {
        display: flex;
        justify-content: center;
        margin-left: 102px;
        margin-right: 102px;
        margin-top: 120px;
    }

    

    &__roestereicafe {
        @media (min-width: 992px) {
            //order: 1;
        }
        
    }


    

    &__biofair {
        @media (min-width: 992px){
            order: 2;
            
        }
        

    }

    &__flex_content {

        @media (min-width: 992px){
        width: 50%;
        max-width: 500px;
        margin-right: 100px;
        }
    }


    &__heading {
        
        margin-top: 60px;
        

        &__cafe {
            margin-top: 60px;
            
        }

        &__herkunft {
            margin-top: 60px;
            
            margin-right: 96px;
        }
        
    
    }

    &__article {
       margin-top: 20px;
       
    
       
       

       &__cafe {
        margin-top: 20px;
        
       }

    }

    &__wo {
        margin-top: 20px;
        
        display: flex;

        
        

        &--besuchen {
            width: 156px;
            height: 32px;
            
    
        }
    
        &--oeffnung {
            width: 156px;
            height: 32px;
            
            
    
        }
    
    }

    &__img {
        margin-top: 40px;
        //height: 182px;
        //width: 241px;

        @media (min-width: 992px) {
            margin-top: 70px;
        }

       &--img-r {
        height: auto;
        width: 75%;
        max-width: 400px;
        margin-left: auto;
        display: block;
        @media (min-width: 992px) {
            order: 2;
            height: auto;
            width: 80%
        }      
       
       }

        &--img-r-cafe {
            height: auto;
            width: 75%;
            max-width: 400px;
            margin-left: auto;
            display: block;
        }

        &--img-r-herkunft {
            height: auto;
            width: 75%;
            max-width: 400px;
            margin-left: auto;
            display: block; 

        }
   
       &--img-l {
        height: auto;
        width: 75%;
        margin-right: auto;
        display: block;
        @media (min-width: 992px) {
            order: 1;
            height: auto;
            width: 90%
        }      
       }

       

       
    }

    &__img-herkunft-l {
        

        &--img-l-herkunft {
        height: auto;
        width: 75%;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-right: auto;
        display: block;   
            
           }
    }

    &__video-herkunft {
        margin-top: 56px;
    }

}

.imprint {

    &__textbox_first {
        margin-top: 133px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 38px;
    }

    &__textbox_follow {
        //margin-top: 133px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 38px;
    }

    &__textbox_follow_last {
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 100px;
    }
}

.li {

    &__imprint {
        list-style: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.location {

    &__heading {
        margin-top: 60px;
        margin-left: 24px;
        margin-bottom: 35px;
    }

    &__map {
        height: 320px;
      //  background-image: url(../images/Map.png);
      //  background-size: contain;

      &--iframe {
        height: 90%;
        width: 100%;
        border: 1px solid black;
      }

    }

}

