.main-cafe {
    margin-left: 24px;
    margin-right: 24px;

    @media (min-width: 992px) {
        display: flex;
        justify-content: center;
        margin-left: 102px;
        margin-right: 102px;
        margin-top: 120px;
    }

    &__roestereicafe {
        @media (min-width: 992px) {
            //order: 1;
        }
        
    }

    &__heading {
        
        margin-top: 60px;
    
    }

    &__article {
        margin-top: 20px;
 
    }

    &__wo {
        margin-top: 20px;
        
        display: flex;

        
        

        &--besuchen {
            width: 156px;
            height: 32px;
            
    
        }
    
        &--oeffnung {
            width: 156px;
            height: 32px;
            
            
    
        }
    
    }

    &__img {
        margin-top: 40px;
        //height: 182px;
        //width: 241px;

        @media (min-width: 992px) {
            margin-top: 70px;
        }

       &--img-r {
        height: auto;
        width: 75%;
        max-width: 400px;
        margin-left: auto;
        display: block;
        @media (min-width: 992px) {
            order: 2;
            height: auto;
            width: 80%
        } 
    }  
       
    }
}



.kaffeesorten{
    margin-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 60px;
    background-color: #1A1A1A;

    @media (min-width: 992px) {
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .h2__m {
        color: #fff;
        
        @media (min-width: 435px) {
            width: 16ch;
        }

        @media (min-width: 1200px) {
            width: auto;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }

    .flex-container-product {
        width: 100%;
        max-width: 1080px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        @media (min-width: 1200px) {
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    .product {
        width:  calc((100% - 20px)/2);
        margin-top: 40px;
        

        @media (min-width: 568px) {
            width: calc((100% - 60px) / 4);
            
        }


        &__image-container {
            background-color: #fff;
            width: 100%;


        }

        &__image {
            width: 100%;
        }

        .subhead__m{
            margin-top: 10px;
        }
        .bodytext__m {
            color: #fff;
            margin-bottom: 5px;
        }
        
        &__icons {

        }
    }
    
}   

.kaffeeangebot__button-kaffeesorten {
    padding-top: 20px;
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .kaffeeangebot__button-kaffeesorten--btn {
      color: #fff;
      width: 182px;
      height: 48px;
      border: 3px solid #fff;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center; }




.woher {
    a {
        color: #fff;
        text-decoration: none;
        margin-top: 20px;

        @media (min-width: 568px) {
            margin-top: 35px;
        }
    }
    
    &__background {
        position: relative;
        height: 332px;
        width: auto;
        background-image: linear-gradient(to right bottom,
        rgba(#000, 0.5),
        rgba(#000, 0.5)), url(/images/FEND-Coffee-bags-2.jpg);
        background-size: cover;
        background-position: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--header {
            margin-top: 87px;
            color: #fff;
            margin-bottom: 12px;
            display: flex;
            align-items: center;

            @media (min-width: 568px) {
                margin-top: 60px;
                margin-bottom: 25px;
            }

        }

        &--article {
            width: 241px;
            color: #fff;
            text-align: center;
            display: flex;
            align-items: center;

        }
    }
}

.dasistdrin {
    margin-left: 24px;
    margin-right: 24px;

    &__main {

        @media (min-width: 590px) {
            display: flex;
            justify-content: center;
            margin-bottom: 125px;

        }
    }
    

    &__product-img {
        display: flex;
        justify-content: center;
        
    }

    &__did-product-img {
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;

        @media (min-width: 590px) {
            margin-left: 0;
            margin-right: 0;
            width: 80%;
            height: auto;
        }

    }

    &__icons-text {
        display: flex;
        justify-content: space-between;

        @media (min-width: 590px) {
        display: block;
        }

    }

    &__inhalt {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        @media (min-width: 590px) {
            flex-direction: row;
            align-items: flex-end;
            margin-bottom: 25px;
        }

        &--icon {
            margin-top: 44px;

            @media (min-width: 590px) {
                margin-right: 20px;
            }
        }
    }

    &__inhaltbutton {
        display:none;

        @media (min-width: 590px) {
                
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &--btn {
                color: #fff;
                width: 163px;
                height: 48px;
                background-color: #1a1a1a;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: #3a3734;
                }

                &:active {
                    background-color: #d7be9d;
                }
            }
        }
    }

    .h2__m {
        margin-top: 60px;
        text-align: center;

    }

    .body-text-m {
        margin-top: 24px;;
        width: min-content;
        text-align: center;
    }

    &__button {
        margin-top: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--btn {
            color: #fff;
            width: 163px;
            height: 48px;
            background-color: #1a1a1a;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: #3a3734;
            }

            &:active {
                background-color: #d7be9d;
            }
        }
        @media (min-width: 590px) {
            display: none;
        }


    }
}