.shop-detail {
    @media (min-width: 992px) {
        margin: 100px;
    }
}

.detail-image {
    height: 70vh;
    background-color: #d7be9d;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 992px) {
        width: 40%;
        height: 100vh;
    }

    &__img {
        height: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
        @media (min-width: 992px) {
            height: 80%;
        }

    }
}

.detail-main {


    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
    }
}

.detail-textblock {

    @media (min-width: 992px) {
        width: 50%;
    }

}

.detail-info {
    color: #000;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
        margin-top: 15px;
    }

    &__text {

    }


    .h2__m {
        margin-bottom: 10px;
    }
    .subhead__m--black {
        margin-bottom: 30px;
    }
}

.short-desc {

    @media (min-width: 992px) {
        width: 80%;
    }

}

.dd-btn {
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @media (min-width: 992px) {
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 0;

    }
}

.dd-shop {
    @media (min-width: 992px) {
        margin-right: 10px;
    }
}

#amount {
    width: 270px;
    height: 45px;
    border-radius: 3px;
    border: 2px solid #000;

    @media (min-width: 992px) {
        width: 170px;
    }
}

.btn-shop {
    margin-top: 35px;

    @media (min-width: 992px) {
        margin-top: 40px;
    }
}

.icons-shop {
    margin-top: 115px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
}

.beans {
    width: 59px;

    .body-text__m {
        margin-top: 20px;
    }
}

.press {
    width: 59px;

    .body-text__m {
        margin-top: 20px;
    }
}

.shovel {
    width: 59px;

    .body-text__m {
        margin-top: 20px;
    }
}
.description-detail {
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 20px;

    @media (min-width: 992px) {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .h3__m {
        margin-bottom: 20px;
    }
}

.sendbutton {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 3rem;
    border-radius: 3px;
    background: #1A1A1A;
    color: #fff;
}